body {
  background: rgb(241, 241, 241);
}
.wrap {
  display: flex;
  width: 100%;
  height: 100vh;

  perspective: 1000px;
  perspective-origin: 50% 50%;
}

.cube {
  transform-style: preserve-3d;
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;
}

.cube img:nth-child(1) {
  width: 200px;
  background: #aaa;
  border-bottom: 0px;

  position: absolute;
  opacity: 0.8;
}
.cube img:nth-child(2) {
  width: 200px;
  background: #aaa;

  position: absolute;
  opacity: 0.8;
}
.cube img:nth-child(3) {
  width: 200px;
  background: #aaa;

  position: absolute;
  opacity: 0.8;
}
.cube img:nth-child(4) {
  width: 200px;
  background: #aaa;

  position: absolute;
  opacity: 0.8;
}
.cube img:nth-child(5) {
  width: 200px;
  background: #aaa;

  position: absolute;
  opacity: 0.8;
}
.cube img:nth-child(6) {
  width: 200px;
  background: #aaa;

  position: absolute;
  opacity: 0.8;
}

/*
Image details from intersect points in Illistrator 

274.999
38.001  0.138185957039844
66.999  0.243633613213139
60.999  0.221815352055826
64.001  0.232731755388201
45.058  0.163847868537704
--top-length: 22.1815352055826%;
--back-length: 24.3633613213139%;
--front-length: 23.2731755388201%;
--bottom-length: var(--top-length);
*/

/* Overlap - From Top of Image */
.cube img:nth-child(1) {
  transform: rotateY(0deg) translateZ(100px) translateY(calc((100% * 0.221815352055826) * .138185957039844));
  /* clip-path: inset(0px 0px 86.3% 0px); */
  clip-path: inset(0px 0px 86.1814042960156% 0px);
}
/* Overlap - From Bottom of Image */
.cube img:nth-child(2) {
  transform: rotateY(0deg) translateZ(100px) translateY(calc((100% * .163847868537704) - (100% * 0.836152131462296) - (100% * 0.221815352055826) ));
  /* clip-path: inset(83.5% 0px 00px 0px); */
  clip-path: inset(83.6152131462296% 0px 0px 0px);
}
/* Top */
.cube img:nth-child(3) {
  transform: rotateX(180deg) translateY(374px) translateZ(100px);
  /* clip-path: inset(37.8% 0px 39.2% 0px); */
  clip-path: inset(38.1819570252983% 0px 39.6579623925905% 0px);
}
.cube img:nth-child(4) {
  transform: rotateY(-90deg) translateZ(-100px) translateY(-100px);
  /* clip-path: inset(15% 0px 24% 0px); */
}
/* Back */
.cube img:nth-child(5) {
  transform: rotateX(270deg) translateX(0px) translateY(202px)
    translateZ(-273px);
  /* clip-path: inset(14.2% 0px 62.1% 0px); */
  clip-path: inset(13.8185957039844% 0px 61.8180429747017% 0px);
}
.cube img:nth-child(6) {
  transform: rotateX(90deg) translateY(-186px) translateZ(465px);
  clip-path: inset(60.2% 0px 16.2% 0px);
}

@keyframes loop {
  from {
    transform: rotateX(200deg) rotateY(0deg) rotateZ(0deg);
  }
  50% {
    transform: rotateX(300deg) rotateZ(180deg);
  }
  to {
    transform: rotateX(200deg) rotateY(0deg) rotateZ(360deg);
  }
}

.cube {
  animation: loop 15s linear infinite;
}

.uploadimg {
  margin-top: 12px;
  margin-left: 8px;
}
